// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$font_size:12px;

.nova_receita{
    float: right;
}

.small_font_rating {
    font-size: $font_size;
    font-weight: bold;
}
.small_fon {
    font-size: $font_size;
}